/Build/*
!/Build/docker/
!/Build/ansible/
/Build/ansible/log/
/Configuration/*
!/Configuration/*.yaml
!/Configuration/*/
/Configuration/**/*.yaml.example
/Configuration/**/*.php
/Data/*
/Packages/
/src/*/Resources/Public/*
/Web/*
!/Web/manifest.json
!/Web/browserconfig.xml
!/Web/*.png
/bin/*
!/bin/*.sh
/Readme.*
/Upgrading.*
/flow.bat
/flow
bower_components/
node_modules/
.sass-cache/
npm-debug.log
.idea/
nbproject/
/logs/
/docker-compose.override.yml
preload.c
preload.so
yarn-error.log
